body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(138, 137, 137);
}

#myH1 {
    font-size: 4rem;
    font-family: "Arial", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

#startBtn {
    background-color: hsl(120, 100%, 25%);
}

#startBtn:hover {
    background-color: hsl(120, 100%, 15%);
}

#stopBtn {
    background-color: hsl(0, 100%, 50%);
}

#stopBtn:hover {
    background-color: hsl(0, 100%, 20%);
}

#resetBtn {
    background-color: hsl(240, 100%, 50%);
}

#resetBtn:hover {
    background-color: hsl(240, 100%, 20%);
}